<div *ngIf="activity">
  <div class="activity-item d-flex">
    <div class="aside">
      <img class="userImg" src="{{ user.imagePath }}" />
    </div>
    <div class="main d-flex flex-column">
      <div class="d-flex">
        <ng-container *ngIf="activity.action === ActionType.AssignUser; else task">
          <div>{{ user.userName }} {{ activity.action | userLookup: activity.previousValue: activity.currentValue }}</div>
        </ng-container>
      </div>
      <div class="time">
        <div>{{ activity.onDate | date: "MMM d, y, h:mm a" }}</div>
      </div>
    </div>
  </div>
  <hr />
</div>

