.cardDialog .mat-dialog-container {
  background-color: #edeff0 !important;
}

.cdk-overlay-pane.cardDialog{
  overflow: auto;
}

.card-container {
  padding: 0 15px;
}
.content {
  flex: 70%;
  height: 100%;
  border-right: 1px solid gray;
  padding-right: 20px;
}

.sidebar {
  flex: 30%;
  height: 100%;
}
.card-title {
  width: 80%;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  border: 0px solid;
  background-color: #edeff0;
  padding: 0px;
}
.card-title:hover {
  background-color: #e2e2e2;
}
.card-title:focus {
  background-color: white;
  border: 0px solid #2171c1;
  outline: none;
}

.user-avt {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
}
.item-header {
  color: gray;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 18px;
}
.tag-on-card {
  cursor: pointer;
  align-items: center;
  text-align: center;
  min-width: 40px;
  border-radius: 3px;
  background-color: #3bade3;
  font-size: 14px;
  font-weight: 600;
  color: #fff;
  padding: 6px 8px;
}
p {
  margin-bottom: 0px;
}
.caption {
  font-size: 16px;
  font-weight: 600;
}
.caption i{
  background-color: transparent;
  margin-right: 8px;
}
.description-content {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
  width: 100%;
  border: 0px;
  resize: none;
  min-height: 50px;
}
.description-content:focus {
  outline: none;
}
.desEditBtn{
  cursor: pointer;
  font-size: 22px;
  margin-right: 6px;
}
.add-btn {
  font-size: 26px;
  cursor: pointer;
  margin-left: 10px;
}
.todoInput {
  border: 0px solid;
  padding: 10px 16px;
  font-size: 16px;
  width: 100%;
  background-color: #edeff0;
}
.todoInput:focus {
  outline: none;
  background-color: white;
  transition: ease 0.2s;
}

/* Sidebar  */
.sidebar {
  padding-left: 20px;
}
.sidebar-header {
  margin-top: 25px;
  font-weight: 700;
  font-size: 16px;
  color: #2171c1;
}
.add-to-task-btn {
  width: 100%;
  margin-top: 10px;
  height: 32px;
  background-color: #2171c1;
  box-shadow: 0 1px 0 0 #3090ca;
  border-radius: 3px;
  padding: 6px 8px 6px 12px;
  color: white;
  cursor: pointer;
}
.dropdown-menu {
  padding: 15px 10px;
  top: 10px !important;
  left: -40px !important;
}
.popup-header {
  text-align: center;
}
.todo-input-popup {
  width: 100%;
  border: 3px;
  padding: 7px 10px;
  font-size: 16px;
  min-height: 34px;
  border: 1px solid #eee;
}
.todo-input-popup:focus {
  border: 1px solid #2171c1;
  outline: none;
}
.duedateInput {
  background-color: #edeff0;
  max-width: 80px;
  border: 0px solid;
}
.duedateInput:focus {
  outline: none;
  border: 0px solid;
}
.dropdown-toggle::after {
  display:none;
}

.removeCardAssignBtn{
  margin-left: 12px;
  border: 0px;
  outline: none;
  background-color: transparent;
}
.removeCardAssignBtn:hover{
  background-color: #ddd;
}
.removeTagBtn{
  padding: 4px 6px;
  min-width: 0px;
  cursor: pointer;
  left: 0px !important;
  transition: ease .2s;
}
.removeTagBtn:hover{
  background-color: rgb(228, 222, 222);
}