<div *ngIf="card">
  <div class="d-flex card-container">
    <!-- Content  -->
    <div class="content">
      <!-- Card Title  -->
      <input
        type="text"
        class="form-control card-title"
        #cardNameInput
        [(ngModel)]="card.name"
        tabindex="-1"
      />
      <!-- End Card Title  -->
      <!-- Session 1  -->
      <div class="d-flex mt-3">
        <div class="me-3 d-flex">
          <div class="me-2">Duedate:</div>
          <div ngbDropdown>
            <div ngbDropdownToggle style="cursor: pointer">
              {{card.duedate? (card.duedate | date: 'dd/MM/yyyy') : "Select"}}
            </div>
            <div ngbDropdownMenu>
              <ngb-datepicker [(ngModel)]="model"></ngb-datepicker>
              <div class="d-flex mt-3 justify-content-end">
                <button class="btn btn-primary me-2" (click)="updateDuedate()">
                  Ok
                </button>
                <button class="btn btn-danger">Cancle</button>
              </div>
            </div>
          </div>
        </div>
        <div class="d-flex">
          <div class="me-2">Priority:</div>
          <div ngbDropdown>
            <div ngbDropdownToggle style="cursor: pointer">
              {{card.priority | priorityLookup}}
            </div>
            <div ngbDropdownMenu>
              <ng-container *ngFor="let item of priorityList">
                <button ngbDropdownItem (click)="updatePriority(item.id)">
                  {{item.text}}
                </button>
              </ng-container>
            </div>
          </div>
        </div>
      </div>
      <!-- End Session 1  -->
      <!-- Session 2 -->
      <div class="d-flex mt-3">
        <div class="assign me-5">
          <div class="item-header">MEMBERS</div>
          <div class="user-assign d-flex">
            <ng-container *ngFor="let cardAssign of cardAssigns">
              <div ngbDropdown>
                <img
                  src="{{cardAssign.imagePath}}"
                  class="me-2 user-avt"
                  ngbDropdownToggle
                />
                <div ngbDropdownMenu >
                  <div ngbDropdownItem class="d-flex">
                    {{cardAssign.userEmail}}
                    <button class="removeCardAssignBtn" (click)="removeCardAssign($event, cardAssign.assignTo)">Remove</button>
                  </div>
                </div>
              </div>
            </ng-container>
            <div ngbDropdown>
              <div class="add-btn" ngbDropdownToggle id="userMenu">
                <i class="fa fa-plus-square"></i>
              </div>
              <div ngbDropdownMenu aria-labelledby="userMenu">
                <ng-container *ngFor="let user of userList">
                  <button
                    ngbDropdownItem
                    (click)="addCardAssign(user.id)"
                    class="d-flex"
                  >
                    <img src="{{user.imagePath}}" class="me-2 user-avt" />
                    {{user.name}}
                  </button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
        <div class="card-tag">
          <div class="item-header">LABELS</div>
          <div class="d-flex">
            <ng-container *ngFor="let tag of cardTags">
              <div class="tag-on-card me-2"><p>{{tag.tagName}}</p></div>
            </ng-container>
            <div ngbDropdown class="tag">
              <div class="add-btn" id="tagsMenu" ngbDropdownToggle>
                <i class="fa fa-plus-square"></i>
              </div>
              <div ngbDropdownMenu aria-labelledby="tagsMenu">
                <ng-container *ngFor="let tag of tagList">
                  <button ngbDropdownItem (click)="addCardTag(tag.id)">
                    {{tag.name}}
                  </button>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Session 2 -->
      <!-- Description  -->
      <div class="description mt-3">
        <div class="d-flex justify-content-between">
          <div class="caption">Description</div>
          <div class="desEditBtn"><i class="fa fa-edit"></i></div>
        </div>
        <textarea
          class="description-content"
          tabindex="-1"
          (keyup)="auto_grow($event)"
          [(ngModel)]="card.description"
        ></textarea>
        <div class="d-flex justify-content-end mt-2">
          <button class="btn btn-secondary me-2">Cancel</button>
          <button class="btn btn-primary" (click)="updateDescription()">
            Save
          </button>
        </div>
      </div>
      <!-- End Description  -->
      <!-- Todo  -->
      <div class="todo-bos mt-2">
        <div class="caption">To-Do</div>
        <div class="todolist ms-4">
          <ng-container *ngFor="let todo of todoList">
            <app-todo [todo]="todo" #todoItem></app-todo>
          </ng-container>
          <div class="mt-2">
            <input
              type="text"
              placeholder="Add To-do ..."
              class="todoInput"
              tabindex="-1"
              #todoNameInput
              (keydown.enter)="addTodo(todoNameInput.value); todoNameInput.value=''"
            />
          </div>
        </div>
      </div>
      <!-- End Todo  -->
    </div>
    <!-- Sidebar  -->
    <div class="sidebar">
      <div class="sidebar-header">ADD TO TASK</div>
      <!-- Todo  -->
      <div class="dropdown">
        <div class="add-to-task-btn dropdown-toggle" data-toggle="dropdown">
          <i class="fa fa-check-square sidebar-icon"></i>
          To-Do
        </div>
        <div class="dropdown-menu">
          <div class="popup-header">Add To-Do</div>
          <div class="dropdown-divider"></div>
          <div style="font-size: 16px; font-weight: 600" class="mb-2">
            Title:
          </div>
          <input type="text" class="todo-input-popup" #todoNameInputPopup />
          <button
            class="btn btn-primary d-block mt-3"
            (click)="addTodo(todoNameInputPopup.value); todoNameInputPopup.value=''"
            >Add</button
          >
        </div>
      </div>
      <!-- End Todo  -->
      <!-- Member  -->
      <div ngbDropdown class="tag">
        <div class="add-to-task-btn" id="usersMenu" ngbDropdownToggle>
          <i class="fa fa-user-plus"></i>
          Member
        </div>
        <div ngbDropdownMenu aria-labelledby="usersMenu">
          <ng-container *ngFor="let user of userList">
            <button
              ngbDropdownItem
              (click)="addCardAssign(user.id)"
              class="d-flex"
            >
              <img src="{{user.imagePath}}" class="me-2 user-avt" />
              {{user.name}}
            </button>
          </ng-container>
        </div>
      </div>
      <!-- End Member  -->
      <!-- Label  -->
      <div ngbDropdown>
        <div class="add-to-task-btn" id="tagsMenu" ngbDropdownToggle>
          <i class="fa fa-tag"></i> Label
        </div>
        <div ngbDropdownMenu aria-labelledby="tagsMenu">
          <ng-container *ngFor="let tag of tagList">
            <button ngbDropdownItem (click)="addCardTag(tag.id)">
              {{tag.name}}
            </button>
          </ng-container>
        </div>
      </div>
      <!-- End Label  -->
    </div>
  </div>
</div>

<!-- Card create  -->
<div *ngIf="!card">
  <div class="form-group">
    <h3>Card name</h3>
    <hr />
    <input
      type="text"
      class="form-control"
      #cardName
      placeholder="Task title"
    />
  </div>
  <br />
  <button class="btn btn-primary" (click)="addCard(cardName.value)">Add</button>
</div>
