<div class="container">
  <h3 class="d-flex justify-content-center mt-3">Projects Manager</h3>

  <hr />

  <div *ngIf="currentUser" class="projects">
    <ng-container *ngFor="let project of projectList">
      <!-- Project Item  -->
      <div class="project" style="cursor: pointer">
        <div routerLink="project/{{ project.id }}">
          <div>{{ project.id }}. {{ project.name }}</div>
          <br />
        </div>
        <dx-button
          *ngIf="currentUser.role | adminRoleValidate"
          text="X"
          class="btn btn-danger"
          (click)="deleteProject(project)"
        >
        </dx-button>
      </div>
    </ng-container>
  </div>

  <!-- <div class="dropdown mt-4" *ngIf="currentUser.role == 'SuperAdmin'"> -->
  <div class="dropdown mt-4" *ngIf="currentUser.role | adminRoleValidate">
    <div class="addProjectBtn" data-toggle="dropdown">Add Project</div>
    <div class="dropdown-menu">
      <div class="popup-header">Name</div>
      <div class="dropdown-divider"></div>
      <input type="text" class="project-input-popup" #projectNameInputPopup />

      <dx-button
        class="add-button mt-3 btn btn-primary"
        text="Add"
        (onClick)="
          addProject(projectNameInputPopup.value);
          projectNameInputPopup.value = ''
        "
      >
      </dx-button>
    </div>
  </div>
</div>
