.tag-item{
    height: 35px;
    /* padding: 10px 12px; */
    color: white;
    background-color: gray;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
    border-radius: 3px;
    align-items: center;
    padding: 4px 16px;
    transition: ease .2s;
}
.tag-item:hover{
    background-color: rgb(146, 145, 145);
}
p{
    margin-bottom: 0;
}
.deleteTag{
    padding: 0 10px;
    border: 1px solid #999;
    cursor: pointer;
    background-color: #fff;
    color: #000;
    border-radius: 3px;
}