.header-container {
  background: rgba(128, 128, 128, 0.5);
}
.dropdown-menu {
  top: 45px;
  padding: 4px 0px;
  cursor: pointer;
  font-size: 14px;
  text-align: center;
}
.navbar{
  font-size: 18px;
  font-weight: 500px;
}
.nav-link{
  color: black;
  cursor: pointer;
}
.nav-link:hover{
  color: #555;
}