<div class="container">
  <h3 class="d-flex justify-content-center">Projects Manager</h3>
  <hr />
  <div>
    <label for="new-project">Project name: </label>
    <input id="new-project" #projectName />

    <!-- (click) passes input value to add() and then clears the input -->
    <button
      class="add-button"
      (click)="addProject(projectName.value); projectName.value = ''"
    >
      Add Project
    </button>
  </div>
  <hr>
  <ng-container *ngFor="let project of projectList">
    <app-project [project]="project" style="cursor: pointer;"></app-project>
  </ng-container>

</div>

