<div class="root" *ngIf="project">
  <div class="board">
    <div class="board-bar d-flex">
      <div>
        <input
          class="projectName"
          [(ngModel)]="project.name"
          #projectNameInput
        />
        <p class="createdBy">Created By: {{ project.createdBy | userLookup : users }}</p>
      </div>
      <div class="pt-2">
        <button class="btn btn-primary me-2" (click)="goBack()">Go back</button>
        <button class="btn btn-primary me-2" (click)="addTagDialog()">
          Add Label
        </button>
      </div>
    </div>
    <div class="board-wrapper">
      <div class="board-columns" cdkDropListGroup>
        <!-- Business column -->
        <ng-container *ngFor="let bus of businessList">
          <app-business [business]="bus" class="board-column"></app-business>
        </ng-container>

        <!-- Add Business  -->
        <div class="board-column add" (click)="addBusinessDialog()">+</div>
      </div>
    </div>
  </div>
</div>
