<div class="board-column">
  <div class="d-flex mb-3">
    <div class="column-title">{{ business.id }}. {{ business.name }}</div>
    <div class="count">{{ cardList.length }}</div>
  </div>
  <dx-scroll-view showScrollbar="always"  direction="vertical">
    <dx-sortable
      class="sortable-cards"
      group="cardList"
      [data]="cardList"
      (onDragStart)="onTaskDragStart($event)"
      (onReorder)="onTaskDrop($event)"
      (onAdd)="onTaskDrop($event)"
    >
      <!-- Card -->
      <div *ngFor="let card of cardList">
        <app-card-dx
          [card]="card"
          [projectId]="business.projectId"
        ></app-card-dx>
      </div>
    </dx-sortable>
    <dx-button
      text="Add a task..."
      class="task addTask"
      (click)="showAddCardDialog()"
    ></dx-button>
  </dx-scroll-view>
</div>

<!-- Add Card (DevExtreme)  -->

<!-- PopUp Add Card Item  -->
<dx-popup
  [width]="400"
  [height]="200"
  [showTitle]="true"
  title="Card Name"
  [dragEnabled]="false"
  [closeOnOutsideClick]="true"
  [(visible)]="popupVisible"
>
  <input
    type="text"
    class="form-control"
    #cardNameInput
    placeholder="Card title"
  />
  <dx-button
    text="Add"
    (click)="addCardOption(cardNameInput.value); cardNameInput.value = ''"
    style="margin: 25px 0 0 0"
  ></dx-button>
</dx-popup>
